*{
    margin-right: 1em;
}

#title{
    text-align: center;
    font-size: 2.2em;
    /* margin-right: 25vw; */
    margin-left: 25vw;
}
/* .navbar{
    width: 100%;
} */

#nav_logo{
    height: 7em;
    width: 10em;
    float: left;
}

#water{
    height: 5em;
    width: 3em;
}
.logo_grid{
    display: grid;
    grid-template-columns: auto auto;
    float: left;
    column-gap: 0em;
}

.heading{
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 600;
    margin-bottom: 0.2em;
}

.heading_team{
    font-size: 1.5em;
    /* margin-left: 1em;
    margin-right: 1em; */
    font-weight: 600;
    margin-bottom: 0.4em;
    text-align: center;
}


.team_text{
    font-weight: 600;
    font-size: 1.2em;
}
.text{
    margin-left: 1.5em;
    margin-right: 1em;
    font-size: 1em;
}

.name-col-lay{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 1.5em;
}

.graph_vis{
   /* margin-left: 25vw;
   margin-right: 25vw;
   margin-top: 1em; */
   margin: 1em 25vw 1em;
   width: 30em;
   height: 20em;
}

